@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins&display=swap');
html{
  box-sizing: border-box;
}
*,*:before,*:after{
  box-sizing: inherit;
}

body{
  background-color: black;
  font-family: Poppins, sans-serif;
  color:seashell
}
.navbar{
  font-family: 'Dancing Script', cursive;
  background-color: black;
  background-size:cover ;
  height: 69px;
  width:100%;
  text-align: center;
  opacity:0.95;
  font-size:30px;
  color:seashell;
  vertical-align: middle;
  position:fixed;
  margin-top:-8px;
}
.logo{
  float:left;
  margin-left: 10px;
  margin-right: 50px;
  max-width: 210px;
  height: auto;
  margin-top: 0;
}
ul{
  float:right;
  padding: 10px;
  margin:0;
  text-align: center;
}
li{
  list-style-type: none;
  padding: 10px;
  display:inline;
}
a{
  color:seashell;
  text-decoration: none;
  margin:0;
}
.mission{
  background-image: url(images/background.jpg);
  height: 700px;
  max-width:1200px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  border-radius: 0px 0px 25px 25px;
  margin-bottom: 40px;
}
#blackbox{
  background-color: black;
  width:100%;
  text-align: center;
  align-items: center;
}

.featured{
  width:1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:auto;
}
.bigcontainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container img{
  height:200px;
  width:300px;
  margin: 10px;
  border-radius:25px;
  border: 2px solid brown;
}
.container h4{
  margin:0px;
}

.locations{
  width:1200px;
  height: 500px;
  background: url(images/locations.jpg);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 25px;
}
.locontainer{
  background: black;
  width: 300px;
  margin: 10px;
  text-align: center;
  border-radius: 15px;
}
.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.spacer{
  padding:40px;
}
.spacer h2{
  justify-content: flex-end;
}
h2{
  font-family: 'Dancing Script',cursive;
  font-size: 4em;
}
.endtitle{
  justify-content: center;
  align-items: center;
}

.bigger{
  font-size: 1.5em;
}